@model Category

<h1>Edit Category</h1>
<form method="post">

    <div class="form-outline mb-4">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />

    </div>

    <div class="form-outline mb-4">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control" />

    </div>
    <button type="submit" asp-controller="Category" asp-action="Edit" class="btn btn-success">Update</button>
    <button class="btn btn-primary" asp-action="Index" asp-controller="Category">Back To List</button>
</form>